
/*------CORE--------*/
@import 'comunes/variables';
@import 'comunes/mixins';


/*====== font color ======*/
.fc-blanco{
    color: @blanco;
}

.fc-gris{
    color: @gris;
}

/*====== font weight ======*/
.fw-xs{
    font-weight: 300;
}
.fw-sm{
    font-weight: 500;
}
.fw-md{
    font-weight: 700;
}
.fw-lg{
    font-weight: 900;
}

/*====== font size ======*/
.fs-xs{
    font-size: 1.3rem;
}
.fs-sm{
    font-size: 2.3rem;
}
.fs-md{
    font-size: 3rem;
}
.fs-lg{
    font-size: 3.3em;
}


.txa-center{
    text-align: center;
}
.txa-left{
    text-align: left;
}
.ff-oswald{
   // font-family: 'Oswald', sans-serif;
}


.fc-azul{
    color: #00358E;
}
.tt-up{
    text-transform: uppercase;
}